<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div style="font-size:15px; text-align: center;">{{'Dashboard' | translate}}</div>
      <div style="font-size:12px; text-align: center;">{{'Welcome' | translate}}, {{islogin.fn}}&nbsp;{{islogin.ln}}!
      </div>
    </ion-title>
    <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="seeNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}"
      refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides pager>
    <ion-slide>

      <div id="chart" class="chart">
        <div class="text1" #text1></div>
        <canvas #doughnutCanvas height="200" width="200"></canvas>

      </div>

    </ion-slide>
    <ion-slide>

      <div padding>
        <canvas #barCanvas height="300" width="300"></canvas>
      </div>
    </ion-slide>
    <ion-slide>
      <div padding>
        <canvas #doughnutCanvas1 height="200" width="200"></canvas>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <ion-item style="border-radius: 15px;" no-lines>
          <ion-label>Reminders</ion-label>
          <ion-select [(ngModel)]="reminers" (ionChange)="onReminersChange(reminers)">
            <ion-option value="lastSeven" selected="true">Last 7 days</ion-option>
            <ion-option value="lastFifteen">Last 15 days</ion-option>
            <ion-option value="lastThirty">Last 30 days</ion-option>
          </ion-select>
        </ion-item>
        <ion-list>
          <ion-item *ngFor="let item of remindersData" style="background: transparent;">
            <ion-row>
              <ion-col>
                <p style="margin: 0px;font-size: 0.7em; padding: 2px 12px 5px 12px;">
                  <ion-icon color="gpsc" name="clock"></ion-icon>&nbsp;&nbsp;
                  {{item.reminder_type}} pending for vehicle {{item.device.Device_Name}} on
                  {{item.reminder_date | date:'mediumDate'}} {{item.reminder_date | date:'shortTime'}}

                </p>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

        <!-- <ion-list no-lines>
          <ion-item style="background: transparent;" *ngFor="let item of remindersData">
            <p style="margin: 0px">
              <ion-icon color="gpsc" name="clock"></ion-icon>&nbsp;&nbsp;
              {{item.reminder_type}} pending for vehicle {{item.device.Device_Name}} on {{item.reminder_date | date:'mediumDate'}} {{item.reminder_date | date:'shortTime'}}
      
            </p>
          </ion-item>
        </ion-list> -->
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="live()" style="border-right: 1px solid #8100FF; border-bottom: 1px solid #8100FF;">
      <div class="divS">
        <ion-icon class="iconS" name="pin" color="gpsc"></ion-icon>
        <br /> {{'LIVE TRACKING' | translate}}
      </div>
    </ion-col>

    <ion-col width-50 (tap)="vehiclelist()" style="border-bottom: 1px solid #8100FF">
      <div class="divS">
        <ion-icon class="iconS" name="car" color="gpsc"></ion-icon>
        <!-- <img src="assets/imgs/vehicle.png"/> -->
        <br /> {{'VEHICLES' | translate}}
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="historyDevice()" style="border-right: 1px solid #8100FF;">

      <div class="divS">
        <!-- <img src="assets/imgs/history.png"/> -->
        <ion-icon class="iconS" name="time" color="gpsc"></ion-icon>
        <br /> {{'History' | translate}}
      </div>
    </ion-col>
    <ion-col width-50 (tap)="geofence()" class="colStyl">
      <div class="divS">
        <!-- <img src="assets/imgs/geo.png" /> -->
        <ion-icon class="iconS" name="disc" color="gpsc"></ion-icon>
        <br /> {{'GEOFENCE' | translate}}
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-card-content>
  </ion-card> -->

</ion-content>