
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{'Speed Variation Report' | translate}}</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
      <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
        [canSearch]="true" (onChange)="getspeeddevice(selectedVehicle)">
      </select-searchable>
    </ion-item>
</ion-header>


<ion-content>
    <canvas #myChartspeed width="280" height="280"></canvas>
 <!-- <ion-card *ngIf="showChartBox">
    <ion-card-content>
        <canvas #myChartspeed width="280" height="280"></canvas>
      </ion-card-content>
 </ion-card> -->
</ion-content>
